<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}"/>
    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <form role="form" class="form-horizontal" method="POST">
        <h1 class='text-muted'>Login</h1>
        {{ form.hidden_tag() }}
        {% if error %}
        <div class="form-group">
          <div class="col-lg-4 col-lg-offset-2 ">
            <p class="alert alert-danger">{{ error }}</p>
          </div>
        </div>
        {% endif %}
        {% for field in form._fields.values() %}
          {% if field.name != 'csrf_token' %}
          <div class="form-group">
            {{ field.label(class="control-label col-lg-2") }} 
            <div class="col-lg-4">
              {{ field(size=20, class="form-control") }}
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
